# 分析結果を集計するノートブック
- 一旦AUCだけで比較してみる
- output/ファイルから各手法の各データの結果をまとめる
- それらの平均をまとめる
- 分散分析とかグラフとかにして表示する

In [1]:
from glob import glob

import pandas as pd
import numpy as np

In [2]:
ex_name = '0513'

In [3]:
file_list = glob(f'../data/output/{ex_name}*')

In [5]:
e_index = ['AUC', 'accuracy', 'recall', 'Specificity', 'precision', 'gmeans', 'RS']

method = list(set([file.split('\\')[1].split('_')[1] for file in file_list]))
method = list(set(method)- set(e_index))
method = ['MTSBagImpAgg', 'WMTSBagImpAgg', 'MTGSBagImpAgg', 'WMTGSBagImpAgg']

In [6]:
data = list(set([file.split('\\')[1].split('_')[2] for file in file_list]))
data = ['wine', 'cancer', 'abalone', 'car']

In [7]:
e_index = ['AUC', 'accuracy', 'recall', 'Specificity', 'precision', 'gmeans', 'RS']
multi_columns = [
    np.array(
        [method[0]] * 2 + 
        [method[1]] * 2 + 
        [method[2]] * 2 + 
        [method[3]] * 2 
        # +
        # [method[4]] * 2 +
        # [method[5]] * 2 
        ),
    np.array(["mean", "std"] * len(method))
]

In [8]:
for e in e_index:
    index_result_df = pd.DataFrame(
                index=data,
                columns=multi_columns,
                )
    for m in method:
        for d in data:     
            df = pd.read_csv(f'../data/output/{ex_name}_{m}_{d}_result.csv', index_col=0)
            index_result_df.loc[d, m] = [df[e].mean(), df[e].std()]
    index_result_df.loc['whole_mean'] = index_result_df.mean(axis=0)
    print(e)
    display(index_result_df)
    index_result_df.to_csv(f'../data/output/{ex_name}_{e}_score.csv')

AUC

           MTSBagImpAgg           WMTSBagImpAgg           MTGSBagImpAgg  \
                   mean       std          mean       std          mean
wine           0.999169  0.001758      0.992137  0.010311      0.997692
cancer         0.974797  0.012527      0.981085  0.008965      0.984382
abalone        0.987714  0.003219      0.986913  0.003732      0.984882
car            0.983098  0.008842      0.957908  0.014698      0.985884
whole_mean     0.986195  0.006587      0.979511  0.009426       0.98821

                     WMTGSBagImpAgg
                 std           mean       std
wine        0.007298       0.995506  0.004962
cancer      0.008389       0.979968  0.005596
abalone     0.004012       0.983363  0.004844
car         0.009177       0.985563  0.009946
whole_mean  0.007219         0.9861  0.006337

accuracy

           MTSBagImpAgg           WMTSBagImpAgg           MTGSBagImpAgg  \
                   mean       std          mean       std          mean
wine           0.969444  0.024322      0.941667  0.038064      0.977778
cancer         0.933571  0.026309         0.935  0.034577      0.952857
abalone         0.97488  0.004331      0.976675   0.00927      0.979306
car            0.952312   0.00698      0.920809  0.013638      0.956647
whole_mean     0.957552  0.015486      0.943538  0.023887      0.966647

                     WMTGSBagImpAgg
                 std           mean       std
wine        0.028689       0.961111  0.039718
cancer      0.017881       0.947857  0.010675
abalone     0.006127       0.978947  0.005811
car         0.010814       0.958382  0.013841
whole_mean  0.015878       0.961574  0.017511

recall

           MTSBagImpAgg           WMTSBagImpAgg           MTGSBagImpAgg  \
                   mean       std          mean       std          mean
wine           0.971266  0.047999      0.983333  0.052705          0.98
cancer          0.95733  0.027336      0.938113  0.047899      0.951438
abalone        0.871409   0.13467      0.797439  0.091944      0.638025
car                 1.0       0.0      0.903869  0.144665      0.958916
whole_mean     0.950001  0.052501      0.905689  0.084303      0.882095

                     WMTGSBagImpAgg
                 std           mean       std
wine        0.063246       0.964615  0.075386
cancer       0.03128       0.939492  0.025297
abalone     0.117137       0.660076   0.17434
car         0.045436        0.93619  0.130027
whole_mean  0.064275       0.875093  0.101263

Specificity

           MTSBagImpAgg           WMTSBagImpAgg           MTGSBagImpAgg  \
                   mean       std          mean       std          mean
wine           0.968258  0.029834      0.931577  0.046374      0.977866
cancer         0.921501  0.046443      0.934844  0.055796      0.953727
abalone        0.976864     0.005       0.97958  0.009963      0.985854
car            0.950193  0.007302      0.922661  0.016788       0.95669
whole_mean     0.954204  0.022145      0.942166   0.03223      0.968534

                     WMTGSBagImpAgg
                 std           mean       std
wine        0.025579       0.958464  0.037594
cancer      0.026172       0.951869  0.012922
abalone     0.006889       0.985028  0.006501
car         0.012344       0.959508  0.013839
whole_mean  0.017746       0.963717  0.017714

precision

           MTSBagImpAgg           WMTSBagImpAgg           MTGSBagImpAgg  \
                   mean       std          mean       std          mean
wine           0.929536  0.076773       0.82161  0.127395      0.933968
cancer         0.874871  0.064707      0.881687  0.087754      0.918774
abalone        0.409086  0.077438      0.420846  0.137136      0.482452
car            0.471152  0.057825      0.310742   0.09096      0.476162
whole_mean     0.671161  0.069186      0.608721  0.110811      0.702839

                     WMTGSBagImpAgg
                 std           mean       std
wine        0.077438       0.884139  0.111985
cancer      0.041764       0.911094   0.01865
abalone     0.087951       0.446001  0.093125
car         0.090808       0.475339   0.11683
whole_mean   0.07449       0.679143  0.085148

gmeans

           MTSBagImpAgg           WMTSBagImpAgg           MTGSBagImpAgg  \
                   mean       std          mean       std          mean
wine           0.969323  0.026342      0.956382  0.032294      0.978442
cancer         0.938712  0.020492      0.935508  0.027933      0.952341
abalone        0.919803  0.073945      0.882365  0.050575      0.789817
car            0.974772  0.003738      0.909912  0.072006      0.957465
whole_mean     0.950652  0.031129      0.921042  0.045702      0.919516

                     WMTGSBagImpAgg
                 std           mean       std
wine        0.037805       0.960973  0.049883
cancer      0.017869       0.945541  0.012727
abalone     0.072554        0.79871  0.114323
car          0.01995       0.945292  0.070955
whole_mean  0.037044       0.912629  0.061972

RS

           MTSBagImpAgg           WMTSBagImpAgg           MTGSBagImpAgg  \
                   mean       std          mean       std          mean
wine           1.004217  0.062832      1.058491   0.08505      1.002475
cancer         1.042173  0.076045      1.008388  0.101787       0.99848
abalone        0.892373  0.139803      0.814439  0.096908      0.647674
car            1.052474  0.008023      0.981513  0.167731      1.002786
whole_mean     0.997809  0.071676      0.965708  0.112869      0.912854

                     WMTGSBagImpAgg
                 std           mean       std
wine        0.065514       1.006583  0.072974
cancer      0.048242        0.98725  0.033089
abalone     0.121882       0.670646  0.178771
car         0.055519       0.976078  0.137066
whole_mean  0.072789       0.910139  0.105475