# 分析結果を集計するノートブック
- 一旦AUCだけで比較してみる
- output/ファイルから各手法の各データの結果をまとめる
- それらの平均をまとめる
- 分散分析とかグラフとかにして表示する

In [1]:
from glob import glob

import pandas as pd
import numpy as np

In [2]:
ex_name = '0514'

In [5]:
file_list = glob(f'../data/output/{ex_name}*')
file_list

['../data/output\\0514_MTGS_1504_result.csv',
 '../data/output\\0514_MTS_1504_result.csv',
 '../data/output\\0514_WMTGS_1504_result.csv',
 '../data/output\\0514_WMTS_1504_result.csv']

In [6]:
e_index = ['AUC', 'accuracy', 'recall', 'Specificity', 'precision', 'gmeans', 'RS']

method = list(set([file.split('\\')[1].split('_')[1] for file in file_list]))
method = list(set(method)- set(e_index))
method

['MTGS', 'WMTS', 'WMTGS', 'MTS']

In [10]:
data = list(set([file.split('\\')[1].split('_')[2] for file in file_list]))
data

['1504']

In [11]:
e_index = ['AUC', 'accuracy', 'recall', 'Specificity', 'precision', 'gmeans', 'RS']
multi_columns = [
    np.array(
        [method[0]] * 2 + 
        [method[1]] * 2 + 
        [method[2]] * 2 + 
        [method[3]] * 2 
        # +
        # [method[4]] * 2 +
        # [method[5]] * 2 
        ),
    np.array(["mean", "std"] * len(method))
]

In [12]:
for e in e_index:
    index_result_df = pd.DataFrame(
                index=data,
                columns=multi_columns,
                )
    for m in method:
        for d in data:     
            df = pd.read_csv(f'../data/output/{ex_name}_{m}_{d}_result.csv', index_col=0)
            index_result_df.loc[d, m] = [df[e].mean(), df[e].std()]
    index_result_df.loc['whole_mean'] = index_result_df.mean(axis=0)
    print(e)
    display(index_result_df)
    index_result_df.to_csv(f'../data/output/{ex_name}_{e}_score.csv')

AUC

                MTGS                WMTS               WMTGS            \
                mean       std      mean       std      mean       std
1504        0.522222  0.432081  0.477778  0.409255  0.511111  0.374788
whole_mean  0.522222  0.432081  0.477778  0.409255  0.511111  0.374788

                 MTS
                mean       std
1504        0.427778  0.379562
whole_mean  0.427778  0.379562

accuracy

            MTGS            WMTS           WMTGS             MTS
            mean       std  mean       std  mean       std  mean       std
1504        0.85  0.070711  0.73  0.216282  0.62  0.269979  0.73  0.200278
whole_mean  0.85  0.070711  0.73  0.216282  0.62  0.269979  0.73  0.200278

recall

                MTGS           WMTS               WMTGS                MTS  \
                mean       std mean       std      mean      std      mean
1504        0.922222  0.105409  0.8  0.233069  0.655556  0.34921  0.788889
whole_mean  0.922222  0.105409  0.8  0.233069  0.655556  0.34921  0.788889


                 std
1504        0.230999
whole_mean  0.230999

Specificity

           MTGS           WMTS           WMTGS            MTS
           mean       std mean       std  mean       std mean       std
1504        0.2  0.421637  0.1  0.316228   0.3  0.483046  0.2  0.421637
whole_mean  0.2  0.421637  0.1  0.316228   0.3  0.483046  0.2  0.421637

precision

                MTGS                WMTS               WMTGS            \
                mean       std      mean       std      mean       std
1504        0.916389  0.044799  0.879722  0.058766  0.910185  0.051614
whole_mean  0.916389  0.044799  0.879722  0.058766  0.910185  0.051614

                 MTS
                mean       std
1504        0.894722  0.072583
whole_mean  0.894722  0.072583

gmeans

                MTGS                WMTS           WMTGS                 MTS  \
                mean       std      mean       std  mean       std      mean
1504        0.176383  0.371849  0.094281  0.298142   0.1  0.224983  0.163299
whole_mean  0.176383  0.371849  0.094281  0.298142   0.1  0.224983  0.163299


                 std
1504        0.344265
whole_mean  0.344265

RS

           MTGS      WMTS      WMTGS       MTS
           mean  std mean  std  mean  std mean  std
1504        inf  NaN  inf  NaN   inf  NaN  inf  NaN
whole_mean  inf  NaN  inf  NaN   inf  NaN  inf  NaN