# 分析結果を集計するノートブック
- 一旦AUCだけで比較してみる
- output/ファイルから各手法の各データの結果をまとめる
- それらの平均をまとめる
- 分散分析とかグラフとかにして表示する

In [2]:
import pandas as pd
import numpy as np

In [3]:
ex_name = '0420'

In [6]:
method = ['MTS', 'WMTS', 'MTSBagImpAgg', 'WMTSBagImpAgg',
#  'LGBM', 'RUSB', 'SVM'
 ]
data = ['abalone', 'cancer', 'car', 'letter', 'wine', 
# 'yeast'
]
e_index = ['AUC', 'accuracy', 'recall', 'Specificity', 'precision', 'gmeans', 'RS']
multi_columns = [
    np.array(
        [method[0]] * 2 + 
        [method[1]] * 2 + 
        [method[2]] * 2 
        + 
        [method[3]] * 2 
        # +
        # [method[4]] * 2 +
        # [method[5]] * 2 
        ),
    np.array(["mean", "std"] * len(method))
]

In [7]:
for e in e_index:
    index_result_df = pd.DataFrame(
                index=data,
                columns=multi_columns,
                )
    for m in method:
        for d in data:     
            df = pd.read_csv(f'../data/output/{ex_name}_{m}_{d}_result.csv', index_col=0)
            index_result_df.loc[d, m] = [df[e].mean(), df[e].std()]
    index_result_df.loc['whole_mean'] = index_result_df.mean(axis=0)
    print(e)
    display(index_result_df)
    index_result_df.to_csv(f'../data/output/{ex_name}_{e}_score.csv')

AUC

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
abalone     0.985972  0.003682   0.98776  0.006203     0.989123  0.003098
cancer      0.950377  0.027778  0.900191   0.07894     0.976647  0.010657
car         0.975056  0.008658  0.951825    0.0111     0.978297  0.009099
letter      0.919717  0.036492  0.903745  0.058594      0.97099  0.009398
wine        0.997463  0.004657  0.983669  0.020444     0.995991  0.007598
whole_mean  0.965717  0.016253  0.945438  0.035056      0.98221   0.00797

           WMTSBagImpAgg
                    mean       std
abalone         0.989451  0.003388
cancer          0.978281  0.008028
car             0.964778  0.013101
letter          0.964703  0.011429
wine            0.992829  0.008812
whole_mean      0.978008  0.008952

accuracy

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
abalone     0.974761  0.006587  0.978469    0.0066     0.977153   0.00624
cancer      0.908571  0.036078  0.836429  0.117921     0.942857  0.019048
car         0.953468   0.01199  0.928035  0.020683     0.957225   0.01194
letter      0.969125  0.008902  0.923525  0.087016       0.9835  0.001904
wine            0.95  0.021911  0.955556  0.039718     0.966667  0.031536
whole_mean  0.951185  0.017094  0.924403  0.054387      0.96548  0.014133

           WMTSBagImpAgg
                    mean       std
abalone         0.977512  0.007173
cancer          0.944286  0.024467
car             0.931214  0.020336
letter          0.979275  0.006371
wine            0.958333  0.026995
whole_mean      0.958124  0.017068

recall

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
abalone     0.811049  0.103449  0.861554   0.09173     0.830167  0.060626
cancer      0.906425   0.04184  0.903997    0.0429     0.960668  0.040919
car         0.993333  0.021082  0.793524  0.219609          1.0       0.0
letter      0.578521  0.038309  0.630644  0.086186     0.668149  0.049736
wine        0.917267  0.089245  0.960238  0.054411     0.961266  0.051627
whole_mean  0.841319  0.058785  0.829991  0.098967      0.88405  0.040582

           WMTSBagImpAgg
                    mean       std
abalone         0.887878  0.060864
cancer          0.962595  0.045892
car              0.91875  0.119658
letter          0.687006  0.070024
wine            0.990909  0.028748
whole_mean      0.889428  0.065037

Specificity

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
abalone     0.977841  0.007358   0.98075  0.006759     0.979899  0.006249
cancer      0.909502    0.0413  0.796664  0.191119     0.934107  0.018968
car         0.951581  0.012917  0.932404  0.027399      0.95556  0.012248
letter      0.984411  0.007864  0.935554  0.092248      0.99651  0.001145
wine        0.969008  0.038288  0.947842  0.068087     0.969157  0.039714
whole_mean  0.958469  0.021545  0.918643  0.077122     0.967046  0.015665

           WMTSBagImpAgg
                    mean       std
abalone         0.979255   0.00701
cancer          0.936064   0.01989
car             0.932571    0.0212
letter          0.990649   0.00861
wine             0.94664  0.039206
whole_mean      0.957036  0.019183

precision

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
abalone      0.41145  0.118342  0.468843  0.096575     0.442296  0.083796
cancer      0.846806  0.063657  0.759442  0.181802     0.891663  0.035304
car         0.497634  0.097343  0.328415  0.111454     0.476337  0.104166
letter      0.613184    0.1353  0.466138  0.242067     0.889738  0.027299
wine        0.894318  0.119952  0.916745  0.090661     0.923766  0.101545
whole_mean  0.652678  0.106919  0.587917  0.144512      0.72476  0.070422

           WMTSBagImpAgg
                    mean       std
abalone         0.467696  0.074596
cancer          0.890319   0.03246
car             0.373714  0.099485
letter          0.777182  0.134795
wine            0.872311  0.084136
whole_mean      0.676244  0.085094

gmeans

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
abalone     0.888691  0.058361  0.917923  0.050705     0.901388  0.033167
cancer      0.907728   0.03535  0.841645  0.100612     0.947026  0.021595
car         0.972125  0.008665  0.850628  0.115915      0.97751   0.00626
letter      0.754346  0.027449  0.764359  0.049445     0.815448   0.03058
wine        0.940918  0.032464  0.952798  0.036957     0.964663  0.031994
whole_mean  0.892762  0.032458   0.86547  0.070727     0.921207   0.02472

           WMTSBagImpAgg
                    mean       std
abalone         0.931954  0.031949
cancer          0.949041  0.028811
car             0.923584  0.061678
letter          0.823839  0.039758
wine            0.968205  0.023363
whole_mean      0.919325  0.037112

RS

                 MTS                WMTS           MTSBagImpAgg            \
                mean       std      mean       std         mean       std
abalone      0.82972  0.107935  0.878579  0.094576     0.847217  0.061924
cancer      0.997633  0.047775  1.210818  0.360619     1.028922  0.050663
car         1.044204  0.032008  0.856571  0.254376     1.046661  0.013378
letter      0.587496   0.03536  0.686519  0.159566     0.670509  0.050164
wine        0.950745  0.126052  1.019425  0.111096     0.993609   0.07166
whole_mean   0.88196  0.069826  0.930382  0.196047     0.917383  0.049558

           WMTSBagImpAgg
                    mean       std
abalone         0.906729  0.062541
cancer          1.028324  0.043635
car              0.98607  0.134208
letter          0.693999  0.075919
wine            1.048558  0.056819
whole_mean      0.932736  0.074624